@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  /* outline: 3px solid red; */
}

body {
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}
body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
  }
.container {
  max-width: 1596px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  min-height: 204px;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  margin-right: auto;
}

.nav {
  display: flex;
  gap: 25px;
  margin-left: 150px;
  list-style: none;
}

.nav li a,
.but1 {
  color: #274c5b;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  display: block;
  transition: all .3s;
}

.controlers {
  display: flex;
  gap: 18px;
}

.search,
.cart {
  position: relative;
  max-width: 200px;
}

.search input {
  position: absolute;
}
.container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: #274c5b;
  margin: 20px;
  margin-left: 0;
}
.search img {
  position: absolute;
  right: 0;
}
.controlers .cart {
  border: 1px solid #e0e0e0;
  border-radius: 33px;
  width: 159px;
  display: flex;
}
.contentInfo h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #274c5b;
}
.search {
  display: flex;
  align-items: center;
}
.controlers .cart input {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #274c5b;
  border: none;
  background-color: #ffffff;
}
.controlers .cart {
    border: 1px solid #e0e0e0;
    border-radius: 33px;
    width: 159px;
    display: flex;
}
.search, .cart {
    position: relative;
    max-width: 200px;
}
.search input {
  border-radius: 36px;
  width: 376px;
  height: 66px;
  background: #fafafa;
  border: none;
  position: absolute;
  left: -370px;
}
.blogSingleBanner {
  max-width: 1920px;
  height: 898px;
  background-image: url(./BannerBlog.png);
}
.bannerContent {
  border-radius: 30px;
  padding: 76px 82px;
  max-width: 1400px;
  height: 385px;
  box-shadow: 0 14px 36px 0 rgba(204, 204, 204, 0.25);
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: -170px;
}
.txt > span {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #274c5b;
  font-weight: 600;
}
.txt > span + span,
.txt svg + span {
  font-weight: 400;
}
.txt svg {
  margin-left: 30px;
}
.txt p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.654;
  color: #525c60;
}
.p p {
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.654;
  color: #525c60;
  margin-top: 80px;
}
.txt1 h2,
.txt3 h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #274c5b;
}
.txt1 p,
.txt3 p,
ol li,
ul li {
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.654;
  color: #525c60;
}
.txt2 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.654;
  text-align: center;
  color: #274c5b;
  margin: 0;
}
.txt2 {
  border-radius: 30px;
  padding: 69px 59px;
  width: 936px;
  height: 237px;
  background-color: #f1edea;
}
.textInfo {
  max-width: 936px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
}
.newsLatter {
    max-width: 1400px;
    height: 323px;
    background-image: url("../pictures/newsLatter.png");
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 220px;
    margin-top: 120px;
  }
  .newsText h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #fff;
  }
  .input input {
    border-radius: 16px;
    border: none;
    width: 349px;
    height: 80px;
    background: #fff;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #ababab;
    text-align: center;
  }
  .input {
    width: 575px;
    height: 80px;
  }
  .input button {
    border-radius: 16px;
    padding: 28px 47px 29px 47px;
    width: 220px;
    height: 80px;
    background: #274c5b;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    border: none;
  }
  .footer {
    max-width: 1920px;
    height: 492px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
    border-bottom: 1px solid #d4d4d4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
  }
  .spans span {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.654;
    text-align: center;
    color: #525c60;
  }
  .spans span + span {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.654;
    text-align: center;
    color: #525c60;
  }
  .spans {
    text-align: center;
  }
  .footer .contactUs {
    width: 290px;
    height: 370px;
    text-align: end;
    margin-right: 51px;
    border-right: 1px solid #d4d4d4;
  }
  .aboutUsfoot {
    width: 543px;
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logof {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
  }
  .aboutUsfoot p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 30px; */
    line-height: 1.654;
    text-align: center;
    color: #525c60;
  }
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 285px;
    height: 60px;
  }
  .logof h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #274c5b;
  }
  .UtilityPages {
    width: 285px;
    height: 370px;
    margin-left: 51px;
    text-align: start;
    border-left: 1px solid #d4d4d4;
    padding-left: 51px;
  }
  .footer .contactUs h2,
  .UtilityPages > h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #274c5b;
    padding-right: 51px;
  }
  .footer .contactUs h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 30px; */
    line-height: 1.65;
    text-align: right;
    color: #525c60;
    padding-right: 51px;
  }
  
  .footer .contactUs p,
  .UtilityPages > p {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 30px; */
    line-height: 1.65;
    color: #525c60;
    font-weight: 400;
    padding-right: 51px;
  }
  @media (hover : hover) {
    .nav li a:hover {
      color: #7eb693;
      transform: scale(1.1);
  }
  .input button:hover {
    opacity: 0.9;
  }
  }