@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  /* outline: 3px solid red; */
}

body {
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}
.main {
  width: 1200px;
}
.container {
  max-width: 1596px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  min-height: 204px;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  margin-right: auto;
}

.nav {
  display: flex;
  gap: 25px;
  margin-left: 150px;
  list-style: none;
}

.nav li a,
.but1 {
  color: #274c5b;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s;
  display: block;
}

.controlers {
  display: flex;
  gap: 18px;
}

.search,
.cart {
  position: relative;
  max-width: 200px;
}

.search input {
  position: absolute;
}
.container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: #274c5b;
  margin: 20px;
  margin-left: 0;
}
.search img {
  position: absolute;
  right: 0;
}
.controlers .cartt {
  border: 1px solid #e0e0e0;
  border-radius: 33px;
  width: 159px;
  display: flex;
}
.contentInfo h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #274c5b;
}
.search {
  display: flex;
  align-items: center;
}
.controlers .cartt input {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #274c5b;
  border: none;
  background-color: #ffffff;
}
.controlers .cartt {
    border: 1px solid #e0e0e0;
    border-radius: 33px;
    width: 159px;
    display: flex;
}
.search, .cartt {
    position: relative;
    max-width: 200px;
}
.search input {
  border-radius: 36px;
  width: 376px;
  height: 66px;
  background: #fafafa;
  border: none;
  position: absolute;
  left: -370px;
}

.banner {
  max-width: 1920px;
  min-height: 450px;
  background-image: url("aboutPage/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.banner h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: #274c5b;
  padding-top: 184px;
}
.about {
  max-width: 1691px;
  height: 929px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.aboutContent {
  width: 675px;
  height: 648px;
}
.heading p, .teamText p, .offHeading p {
  font-family: "Yellowtail", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}
.heading h2, .teamText h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #274c5b;
}
.mainInfo span,
.heading span,
.pointText span, cart p, .teamText span  {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.654;
  color: #525c60;
  text-align: center;
}
.points {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.point {
  display: flex;
  align-items: center;
  gap: 15px;
}
.point p, cart h3, .teamCarts h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #274c5b;
}
.subContent + button {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  color: #ffffff;
  width: 220px;
  height: 79px;
  border-radius: 16px;
  background-color: #274c5b;
  border: none;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.whyUs {
  max-width: 1920px;
  height: 1429px;
  background-color: #f9f8f8;
  margin-left: auto;
  margin-right: auto;
  padding-top: 180px;
}
.contentWhyUs {
max-width:1400px;
height: 1050px;
margin-right: auto;
margin-left: auto;
}
.content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contentText {
  display: flex;
  flex-direction: column;
}
.points {
  display: flex;
  flex-direction: column;
}
.point {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1118px;
  height: 335px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 91px;
}
.pointhead {
  display: flex;
  align-items: center;
}
.pointhead h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #274c5b;
  border-radius: 49px;
  padding: 29px 91px 29px 27px;
  background-color: #ececec;
}
cart {
  border-radius: 30px;
  max-width: 257px;
  height: 335px;
  background-color: #fff;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.newsLatter {
  max-width: 1400px;
  height: 323px;
  background-image: url("./aboutPage/newsLatter.png");
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 220px;
  margin-top: 141px;
}
.newsText h2, .offHeading h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #fff;
}
.input input {
  border-radius: 16px;
  border: none;
  width: 349px;
  height: 80px;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  color: #ababab;
  text-align: center;
}
.offHeading {
  text-align: center;
}
.input {
  width: 575px;
  height: 80px;
}
input+button {
  border-radius: 16px;
  padding: 28px 47px 29px 47px;
  width: 220px;
  height: 80px;
  background: #274c5b;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: none;
}
footer {
  max-width: 1920px;
  height: 492px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
  border-bottom: 1px solid #d4d4d4;
  margin-left: auto;
  margin-right: auto;
}
.spans span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.654;
  text-align: center;
  color: #525c60;
}
.spans span + span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.654;
  text-align: center;
  color: #525c60;
}
.spans {
  text-align: center;
}
footer .contactUs {
  width: 290px;
  height: 370px;
  text-align: end;
  margin-right: 51px;
  border-right: 1px solid #d4d4d4;
}
.aboutUsfoot {
  width: 543px;
  height: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logof {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.aboutUsfoot p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 30px; */
  line-height: 1.654;
  text-align: center;
  color: #525c60;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 285px;
  height: 60px;
}
.logof h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #274c5b;
}
.UtilityPages {
  width: 285px;
  height: 370px;
  margin-left: 51px;
  text-align: start;
  border-left: 1px solid #d4d4d4;
  padding-left: 51px;
}
footer .contactUs h2,
.UtilityPages > h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #274c5b;
  padding-right: 51px;
}
footer .contactUs h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 30px; */
  line-height: 1.65;
  text-align: right;
  color: #525c60;
  padding-right: 51px;
}
footer .contactUs p,
.UtilityPages > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 30px; */
  line-height: 1.65;
  color: #525c60;
  font-weight: 400;
  padding-right: 51px;
}
.team {
max-width: 1401px;
height: 841px;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
}
.teamCarts {
  display: flex;
  max-width: 1401px;
  height: 615px;
  gap: 27px;
}
.teamcart {
  background-color: #F9F8F8;
  border-radius: 30px;
}
.teamText {
  text-align: center;
  margin-bottom: 41px;
}
.teamText1 p {
font-family: "Yellowtail", sans-serif;
font-weight: 400;
font-size: 22px;
color: #7eb693;
}
.contentTeam {
  border-radius: 30px;
}
.offerProduct {
  margin-top: 222px;
  max-width: 1920px;
  height: 892px;
  background-color: #274C5B;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.offerProductContent {
  display: flex;
  flex-direction: column;
}
.Carts {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

@media (hover : hover) {
  .subContent+button:hover {
    transform: scale(1.1);
    transition: all .8s;
  }
  .pointhead h2:hover {
    background-color: #f9f8f8;
    transition: all .3s;
    cursor: pointer;
  }
  .content2  cart:hover {
    transform: scale(1.1);
    transition: all .5s;
  }
  .teamcart:hover {
    background-color: #ffffff;
    box-shadow: 0 20px 35px 0 rgba(167, 167, 167, 0.25);
    transition: all .3s;
    transform: scale(1.1);
    cursor: pointer;
  }
  .offCart img:hover {
    transform: scale(1.1);
    transition: all .5s
  }
  .nav li a:hover {
    color: #7eb693;
    transform: scale(1.1);
}
}